<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-prueba-tpaga-ecommerce" >
	<tr>
		<td>
			<f:translate key="tx_pruebatpagaecommerce_domain_model_sale.identifier" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pruebatpagaecommerce_domain_model_sale.amount" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pruebatpagaecommerce_domain_model_sale.link_pay" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pruebatpagaecommerce_domain_model_sale.status" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>