<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="identifier">
	<f:translate key="tx_pruebatpagaecommerce_domain_model_sale.identifier" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="identifier" /><br />
<label for="amount">
	<f:translate key="tx_pruebatpagaecommerce_domain_model_sale.amount" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="amount" /><br />
<label for="linkPay">
	<f:translate key="tx_pruebatpagaecommerce_domain_model_sale.link_pay" />
</label><br />
	<f:form.textarea property="linkPay" cols="40" rows="15" /><br />
<label for="status">
	<f:translate key="tx_pruebatpagaecommerce_domain_model_sale.status" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="status" /><br />
<label for="idempotencyToken">
	<f:translate key="tx_pruebatpagaecommerce_domain_model_sale.idempotency_token" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="idempotencyToken" /><br />
<label for="checkout">
	<f:translate key="tx_pruebatpagaecommerce_domain_model_sale.checkout" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="checkout" /><br />
<label for="userIpAddress">
	<f:translate key="tx_pruebatpagaecommerce_domain_model_sale.user_ip_address" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="userIpAddress" /><br />
</html>