<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<h2>Datos del cliente</h2>

<div class="row">
	<div class="col-4">Nombre</div>
	<div class="col-8">
		<f:form.textfield name="customer[name]" value="" placeholder="Escriba su nombre" required="true" type="text" />
	</div>
</div>

<div class="row">
	<div class="col-4">Apellido</div>
	<div class="col-8">
		<f:form.textfield name="customer[lastname]" value="" placeholder="Escriba su apellido" required="true"
			type="text" />
	</div>
</div>

<div class="row">
	<div class="col-4">Email</div>
	<div class="col-8">
		<f:form.textfield name="customer[email]" value="" placeholder="Escriba su email" required="true"
			type="email" />
	</div>
</div>

<div class="row">
	<div class="col-4">Contraseña</div>
	<div class="col-8">
		<f:form.password name="customer[password]" placeholder="Escriba su contraseña" additionalAttributes="{required:'required'}"/>
	</div>
</div>

<div class="row">
	<div class="col-4">Tipo de Documento</div>
	<div class="col-8">
		<f:form.select name="customer[documentType]" prependOptionLabel="Seleccione una opción"
			options="{1: 'Cédula de Ciudadania', 2: 'Tarjeta de Identidad'}"
			additionalAttributes="{required:'required'}" />
	</div>
</div>

<div class="row">
	<div class="col-4">Número de Documento</div>
	<div class="col-8">
		<f:form.textfield name="customer[numberID]" value="" placeholder="Escriba su número de documento"
			required="true" type="number" />
	</div>
</div>

<div class="row">
	<div class="col-4">Dirección</div>
	<div class="col-8">
		<f:form.textfield name="customer[address]" value="" placeholder="Escriba su dirección" required="true"
			type="text" />
	</div>
</div>

<div class="row">
	<div class="col-4">Teléfono</div>
	<div class="col-8">
		<f:form.textfield name="customer[telephoneNumber]" value="" placeholder="Escriba su teléfono" required="true"
			type="text" />
	</div>
</div>